{{^isSingleExercise}}
# {{program.name}}

{{#program.description}}_{{program.description}}_

{{/program.description}}
{{#if_in_doc_toc}}
## Innholdsfortegnelse

{{#exercises}}- [{{name}}](#{{exerciseAnchor}})
{{#stations}}  - [{{stationCode}} – {{name}}{{#variantSuffix}} – {{variantSuffix}}{{/variantSuffix}}](#{{stationAnchor}})
{{/stations}}{{/exercises}}

{{/if_in_doc_toc}}
{{#program.briefIntroMd}}
## Generelt om spill og øvingsledelse

{{{program.briefIntroMd}}}

{{/program.briefIntroMd}}
{{#program.commsMd}}
## Talegrupper

{{{program.commsMd}}}

{{/program.commsMd}}
---

{{/isSingleExercise}}
{{#exercises}}
## {{name}}

#### Tid
{{exerciseTimeLabel}}

#### Varighet
{{exerciseDurationLabel}}

{{#methodMd}}
#### Metode
{{{methodMd}}}

{{/methodMd}}
{{#learningGoalsMd}}
#### Læringsmål
{{{learningGoalsMd}}}

{{/learningGoalsMd}}
{{#trainingFocusMd}}
#### Øvingsmomenter
{{{trainingFocusMd}}}

{{/trainingFocusMd}}
#### Organisering
{{{organisationBlock}}}

{{#orderFormatMd}}
#### Ordreformat
{{{orderFormatMd}}}

{{/orderFormatMd}}
{{#executionTipsMd}}
#### Tips til gjennomføring
{{{executionTipsMd}}}

{{/executionTipsMd}}
{{#effectiveCommsMd}}
#### Samband
{{{effectiveCommsMd}}}

{{/effectiveCommsMd}}

{{#stations}}
### {{stationCode}} – {{name}}{{#variantSuffix}} – {{variantSuffix}}{{/variantSuffix}}

**Post {{stationCode}} plassering:** {{{positionValue}}}

#### Varighet
{{stationDurationLabel}}

{{#equipmentMd}}
#### Utstyrsbehov
{{{equipmentMd}}}

{{/equipmentMd}}
{{#roleplays}}
#### Markørspill ({{name}})
{{{behavior}}}
{{#propsMd}}
**Rekvisita:** {{{propsMd}}}
{{/propsMd}}
{{#if_director}}{{#actor}}
**Markør:** {{realName}}{{#phone}} ({{phone}}){{/phone}}

{{/actor}}{{/if_director}}
{{/roleplays}}
{{#situationMd}}
#### Situasjon
{{{situationMd}}}

{{/situationMd}}
{{#missionMd}}
#### Oppdrag
{{{missionMd}}}

{{/missionMd}}
{{#effectiveCommsMd}}
#### Samband
{{{effectiveCommsMd}}}

{{/effectiveCommsMd}}
{{#logisticsMd}}
#### Administrasjon og forsyninger
{{{logisticsMd}}}

{{/logisticsMd}}
{{#criticalQuestionsMd}}
#### Kritiske spørsmål
{{{criticalQuestionsMd}}}

{{/criticalQuestionsMd}}
{{#leaderAnswersMd}}
#### Forslag til svar på spørsmål fra lagleder
{{{leaderAnswersMd}}}

{{/leaderAnswersMd}}
{{#if_instructor_or_director}}{{#directorNotesMd}}
> **Notater til instruktør/øvingsledelse**
>
> {{{directorNotesMd}}}

{{/directorNotesMd}}{{/if_instructor_or_director}}
---

{{/stations}}
{{/exercises}}
